@model Department
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
 
    

        <div class="container mt-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between">
                    <div>
                        <h6 class="m-0 font-weight-bold text-primary">Students List</h6>
                    </div>

                    <div>
                        <a type="button" class="close mr-3 mt-2" href="~/Home/Index">
                            ×
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-2">
                        <a name="addStudnet" id="addStudnet" class="btn btn-success" href="~/Department/Create"
                           role="button">
                            Add
                            Dept
                        </a>
                        <button type="button" class="btn btn-primary mt-4 mb-4" data-toggle="modal" data-target="#exampleModal">
                            Add modal
                        </button>
                        <div id="data">
                            @Html.Partial("PartialDepartment");
                        </div>
                    </div>

                </div>
            </div>
        </div>

       
   




    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ADD Department</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @using (Ajax.BeginForm("add", "Department", new AjaxOptions
                    {
                        UpdateTargetId = "data",
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace
                    }))
                    {
                        @Html.TextBoxFor(e => e.Name, new { placeholder = "Name", @class = "form-control mb-3" })
                        @Html.ValidationMessageFor(e => e.Name)
                        @Html.TextBoxFor(e => e.NumOfIns, new { placeholder = "Number of ins", @class = "form-control mb-3" })
                        @Html.ValidationMessageFor(e => e.NumOfIns);
                        @Html.TextBoxFor(e => e.NumOfStds, new { placeholder = "Number of ins", @class = "form-control mb-3" })
                        @Html.ValidationMessageFor(e => e.NumOfStds)

                        <input id="btn" class="form-control btn btn-success " type="submit" value="Add" />
                        <button type="button" class="btn btn-block mt-3 btn-danger" data-dismiss="modal">Close</button>

                    }
                </div>
            </div>
        </div>
    </div>



    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
        function createDynamicDeleteLink(x) {
            $('#modelDeleteModel').attr("href", x.value);
        }

        function openForm() {
            $('#exampleModal').modal('show');
        }
    </script>
</body>
</html>
